{% extends "layout.html" %}
{% import 'macros.html' as macros %}

{% block content %}
    <h2 class="ui header">
        {{ title }}
        {% if subtitle %}
        <div class="sub header">{{ subtitle }}</div>
        {% endif %}
    </h2>
    <div class="ui divider"></div>

    <div class="ui hidden negative message" id="err"></div>
    
    {% if reqs %}
        <div class="ui centered doubling cards">
            {% for db in reqs %}
                {{ macros.card(db, current_user, show_last_update) }}
            {% endfor %}
        </div>
    {% else %}
        No reqs available \o/
    {% endif %}
{% endblock %}
