{% extends "layout.html" %}
{% import 'macros.html' as macros %}

{% block content %}
    <h2 class="ui header">
        {{ title }}
        {% if count %}
        <div class="ui circular label">{{ count }}</div>
        {% endif %}
        {% if subtitle %}
        <div class="sub header">{{ subtitle }}</div>
        {% endif %}
    </h2>

    <div class="ui divider"></div>
    <div class="ui hidden negative message" id="err"></div>

    <form id="nominator_select">
        <span>Nominator:</span>
        <select class="ui dropdown" name="nominator" id="selector">
            {% for bn in bns %}
            <option value="{{bn.osu_uid}}" {% if selected == bn.osu_uid %} selected {% endif %}>{{bn.username}}</option>
            {% endfor %}
        </select>
    </form>
    <div class="ui divider"></div>

    {% for bn in bns %}
        {% if selected == bn.osu_uid %}
            {% if bn.show_notice and bn.notice %}
            <div class="ui info message">
                <div class="header">Notice for {{ bn.username }}</div>
                {{ bn.notice | md | safe }}
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    
    {% if reqs %}
        <div class="ui centered doubling cards">
            {% for db in reqs %}
                {{ macros.card(db, current_user, show_last_update) }}
            {% endfor %}
        </div>
    {% else %}
        No reqs available \o/
    {% endif %}
{% endblock %}
