{% extends "layout.html" %}
{% import 'macros.html' as macros %}

{% block content %}
    <h2 class="ui header">
        {{ title }}
        {% if subtitle %}
        <div class="sub header">{{ subtitle }}</div>
        {% endif %}
    </h2>
    <div class="ui divider"></div>

    {% if reqs %}
    <table class="ui celled table">
        <thead><tr>
            <th class="three wide">Song</th>
            <th class="three wide">Mapper</th>
            <th class="two wide">Requested at</th>
            <th class="two wide">Last Updated</th>
            <th class="two wide">Requested to</th>
            <th class="two wide">Status</th>
            {% if with_reason %}
            <th class="four wide">Reason</th>
            {% endif %}
        </tr></thead>
        <tbody>
            {% for db in reqs %}
                <tr>
                    <td><a href="https://osu.ppy.sh/s/{{ db.mapset_id }}">{{ db.song }}</a></td>
                    <td>{{ db.mapper }}</td>
                    <td><time class="timeago" datetime="{{ db.requested_at.isoformat(timespec='seconds') }}Z"></time></td>
                    
                    {% if db.last_updated %}
                        <td><time class="timeago" datetime="{{ db.last_updated.isoformat(timespec='seconds') }}Z"></time></td>
                    {% else %}
                        <td>None</td>
                    {% endif %}

                    {% if db.target_bn %}
                        <td>{{ db.target_bn.username }}</td>
                    {% else %}
                        <td>None</td>
                    {% endif %}

                    <td>{{ db.status.name | replace("_", " ") }}
                    {% if db.status_ == 4 and current_user.is_bn and db.target_bn_id == current_user.osu_uid %}
                        <div class="ui green button nominatedbtn" data-set-id="{{ db.id }}">Mark as Nominated</div>
                    {% endif %}
                    </td>

                    {% if with_reason %}
                    <td>{{ db.reason | nlbr }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        No reqs available \o/
    {% endif %}
{% endblock %}