{% import 'macros.html' as macros %}
{% extends "layout.html" %}

{% block content %}
<h2 class="ui header">
    Request Mod
</h2>
<div class="ui divider"></div>
<div class="ui yellow message">
    <div class="header">
        Things to keep in mind:
    </div>
    <ul class="list">
        <li>Even though you can request as many maps as you like, I still have the rights to reject em.</li>
        <li>If I have picked one of your map, then the chance is that I will not look at another map you send in a short matter of time. Give others a chance.</li>
        <li>No duplicates. The chances are I might reject again. Though you can still send it again if you're persistent.</li>
        <li>You only need to link your map, rest of the form will be filled automatically.</li>
        <li>If the rest of the form hasnt filled, then please do not submit. It will just fails.</li>
        <li>If the form doesnt want to load, try removing the last character from the url field and put it again.</li>
    </ul>
</div>

<div class="ui hidden negative message" id="err"></div>

<form class="ui form" method="POST">
    {{ form.csrf_token }}
    {{ macros.render_field(form.link) }}
    {{ macros.render_field(form.song, disabled=True) }}
    {{ macros.render_field(form.mapset_id, disabled=True) }}
    {{ macros.render_field(form.mapper, disabled=True) }}
    {{ form.submit(class_="ui button") }}
</form>
{% endblock %}
