{% import 'macros.html' as macros %}
{% extends "layout.html" %}

{% block content %}
<h2 class="ui header">
    Request Mod
</h2>
<div class="ui divider"></div>
<div class="ui yellow message">
    <div class="header">
        Things to keep in mind:
    </div>
    <ul class="list">
        <li>You only need to link your map and select nominator, rest of the form will be filled automatically.</li>
        <li>If the rest of the form hasnt filled, then please do not submit. It will just fails.</li>
        <li>If the form doesnt want to load, try removing the last character from the url field and put it again.</li>
    </ul>
</div>

<div class="ui hidden negative message" id="err"></div>

<form class="ui form" method="POST">
    {{ form.csrf_token }}
    {{ macros.render_field(form.target_bn, class="ui dropdown") }}
    <div class="field" id="bn_rules"></div>
    {{ macros.render_field(form.link) }}
    {{ macros.render_field(form.song, disabled=True) }}
    {{ macros.render_field(form.mapset_id, disabled=True) }}
    {{ macros.render_field(form.mapper, disabled=True) }}
    {{ macros.render_field(form.note) }}
    {{ form.submit(class_="ui button") }}
</form>
{% endblock %}