<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Ren's Requests</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://timeago.yarp.com/jquery.timeago.js"></script>
        <style type="text/css">
            body {
              background-color: #FFFFFF;
            }
            .ui.menu .item img.logo {
              margin-right: 1.5em;
            }
            .main.container {
              margin-left: 1.5em;
              margin-top: 7em;
            }
        </style>
    </head>
    <body>
        <div class="ui stackable inverted menu">
            <div class="ui container">
                <a href="{{ url_for('base.index') }}" class="header item">Ren's Requests</a>
                <a href="{{ url_for('request.accepted') }}" class="item">Accepted Requests</a>
                <a href="{{ url_for('request.archive') }}" class="item">Archive</a>
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('request.create') }}" class="item">Request Mod</a>
                    <a href="{{ url_for('request.mine') }}" class="item">My Requests</a>
                    <a href="{{ url_for('user.logout') }}" class="item">Logout</a>
                    <div class="right menu">
                        <div class="ui right aligned category search item">
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="Search">
                                <i class="search link icon"></i>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <a href="{{ url_for('user.login') }}" class="item">Login</a>
                {% endif %}
            </div>
        </div>

        <div class="ui main text container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                
                {% for category, message in messages %}
                <div class="ui {{ category }} message">
                        {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </div>
        <script>
            $(document).ready(function() {
                $("time.timeago").timeago();
            });

            function handle_error(err) {
                var message;
                if (err.response) {
                    if (err.response.data.hasOwnProperty("err")) message = err.response.data.err
                    else message = err.response.statusText
                } else if (err.message) {
                    message = err.message
                } else {
                    message = "An unknown error occured."
                }
                $("#err").removeClass("hidden")
                $("#err").html(message)
            }

            $('.ui.search').search({
                apiSettings: {
                    url: '/request/search/{query}'
                },
                minCharacters : 3
            })

            {% block js %}{% endblock %}
        </script>
    </body>
</html>