{% macro card(db, user) %}
    <div class="ui card">
        <div class="image">
            <img src="https://assets.ppy.sh/beatmaps/{{ db.mapset_id }}/covers/cover.jpg">
        </div>
            <div class="content">
                <a href="https://osu.ppy.sh/s/{{ db.mapset_id }}" class="header">{{ db.song }}</a>
            <div class="meta">
                <time class="timeago" datetime="{{ db.requested_at.isoformat(timespec='seconds') }}Z"></time>(Last updated 
                <time class="timeago" datetime="{{ db.last_updated.isoformat(timespec='seconds') }}Z"></time>)
            </div>
            <div class="description">
                Mapped by {{ db.mapper }}
            </div>
        </div>
        <div class="extra content">
            <a>
                <i class="info circle icon"></i>
                {{ db.status.name }}
            </a>
            {% if db.reason %}
            | <span class="reason" data-html="<p>{{ db.reason | nlbr }}</p>">Why?</span>
            {% endif %}
            {% if user.is_admin and db.status.value == 0 %}
            <div>
                <div class="ui two buttons">
                    <div class="ui basic green button acceptreq" data-set-id="{{ db.id }}">Accept</div>
                    <div class="ui basic red button declinereq" data-set-id="{{ db.id }}">Decline</div>
                </div>
            </div>
            {% elif user.is_admin and db.status.value == 2 %}
            <div class="ui bottom attached button archivebtn" data-set-id="{{ db.id }}">
                <i class="inbox icon"></i>
                Archive Request
            </div>
            {% elif user.is_authenticated and db.status.value == 0 and db.requester_id == user.osu_uid %}
            <div class="ui bottom attached button cancelbtn" data-set-id="{{ db.id }}">
                <i class="minus icon"></i>
                Cancel Request
            </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro render_field(field, disabled=False) %}
<div class="field">
    {{ field.label }}
    {{ field(placeholder=field.label.text, readonly=disabled) }}
    {% if field.errors %}
        <div class="ui negative message">
            <div class="header">
                There is error on your input.
            </div>
            <ul class="list">
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </p>
    {% endif %}
</div>
{% endmacro %}
